<div class="main_content">
  <mat-card class="main_card">
    <div>
      <h1 (click)="handleViewSubject('introductie')">Dichtheid
        <mat-icon *ngIf="getShowSubject('introductie')">keyboard_arrow_up</mat-icon>
        <mat-icon *ngIf="!getShowSubject('introductie')">keyboard_arrow_down</mat-icon>
      </h1>
      <article *ngIf="getShowSubject('introductie')">
        <p>
          Introductie over het onderwerp...
        </p>
      </article>
    </div>

    <div>
      <h1 (click)="handleViewSubject('introductie')">Dichtheid
        <mat-icon *ngIf="getShowSubject('introductie')">keyboard_arrow_up</mat-icon>
        <mat-icon *ngIf="!getShowSubject('introductie')">keyboard_arrow_down</mat-icon>
      </h1>
      <article *ngIf="getShowSubject('introductie')">
        <p>
          Introductie over het onderwerp...
        </p>
      </article>
    </div>

    <div>
      <h1 (click)="handleViewSubject('introductie')">Dichtheid
        <mat-icon *ngIf="getShowSubject('introductie')">keyboard_arrow_up</mat-icon>
        <mat-icon *ngIf="!getShowSubject('introductie')">keyboard_arrow_down</mat-icon>
      </h1>
      <article *ngIf="getShowSubject('introductie')">
        <p>
          Introductie over het onderwerp...
        </p>
      </article>
    </div>

    <div>
      <h1 (click)="handleViewSubject('introductie')">Dichtheid
        <mat-icon *ngIf="getShowSubject('introductie')">keyboard_arrow_up</mat-icon>
        <mat-icon *ngIf="!getShowSubject('introductie')">keyboard_arrow_down</mat-icon>
      </h1>
      <article *ngIf="getShowSubject('introductie')">
        <p>
          Introductie over het onderwerp...
        </p>
      </article>
    </div>

    <div>
      <h1 (click)="handleViewSubject('introductie')">Dichtheid
        <mat-icon *ngIf="getShowSubject('introductie')">keyboard_arrow_up</mat-icon>
        <mat-icon *ngIf="!getShowSubject('introductie')">keyboard_arrow_down</mat-icon>
      </h1>
      <article *ngIf="getShowSubject('introductie')">
        <p>
          Introductie over het onderwerp...
        </p>
      </article>
    </div>

    <div>
      <h1 (click)="handleViewSubject('introductie')">Dichtheid
        <mat-icon *ngIf="getShowSubject('introductie')">keyboard_arrow_up</mat-icon>
        <mat-icon *ngIf="!getShowSubject('introductie')">keyboard_arrow_down</mat-icon>
      </h1>
      <article *ngIf="getShowSubject('introductie')">
        <p>
          Introductie over het onderwerp...
        </p>
      </article>
    </div>




  </mat-card>
</div>
