<div class="no_sidecard_main_content">
  <mat-card>
    <h1>Scheikunde</h1>
    <p>
      Dit is de home pagina van de scheikunde portal. Klik links om een onderwerp te selecteren.
    </p>
    <p>
      De volgende onderwerpen worden voor scheikunde behandeld:
      <ul>
        <li>Faseovergangen</li>
        <li>Scheidingsmethodes
          <ul>
            <li>Soorten mengsels</li>
            <li>Soorten oplossingen</li>
          </ul>
        </li>
      <li>Koolstofchemie
        <ul>
          <li>Koolwaterstoffen</li>
          <li>Alkanen</li>
          <li>Benoemingen</li>
          <li>Kunststoffen</li>
        </ul>
      </li>
      </ul>
  </mat-card>
</div>
