<div class="scheikunde_home">
  <mat-card class="scheikunde_intro">
    <h1>Scheikunde</h1>
    <p>
      Op deze site kan je oefenen met verschillende onderwerpen van het vak Scheikunde.
      Je vind bij elk onderwerp uitleg, filmpjes, spelletjes en practica.
    </p>
    <p>
      De onderwerpen zijn:<br>
      - Periodiek Systeem<br>
      - Reactievergelijkingen<br>
      - Scheidingsmethodes<br>
      - Koolstofchemie<br>
    </p>
    <p>
      Onder elk onderwerp kan je weer kiezen voor specifieke onderdelen binnen dit onderwerp. Veel leerplezier!
    </p>
  </mat-card>

  <mat-card class="image">
    <img src="../../assets/img/general/scheikunde_home.jpg">
  </mat-card>
</div>
