<mat-card class="toetsen_container" *ngIf="loaded">
  <article class="toetsen_header">
    <div>
      <h1 #top>Toets</h1>
      <p>
        Dit is de toets met de onderwerpen die jij geselecteerd hebt.<br>
        Bij meerkeuze vragen is er <b>altijd</b> maar 1 antwoord mogelijk.<br>
        Bij open vragen is je antwoord <b>niet</b> hoofdlettergevoelig en <b>niet</b> spatiegevoelig. Echter is het antwoord wel gevoelig voor typfouten.
      </p>
      <p>
        Veel succes!
      </p>
    </div>
  </article>

  <mat-card *ngIf="showScore" class="test_container">
    <h2>Score</h2>
    <p>Aantal vragen: {{correct + incorrect}}</p>
    <p>Correct: {{correct}}</p>
    <p>Incorrect: {{incorrect}}</p>
    <p>Percentage: {{percentage}}%</p>
    <p>Cijfer: <b>{{grade}}</b></p>
  </mat-card>

  <article class="toetsen_test">
    <mat-card class="test_container" *ngIf="natuurkundeSubjectsArray.length !== 0">
      <h2>Natuurkunde</h2>
      <div class="subject_container" *ngFor="let natSubject of natuurkundeSubjectsArray">
        <h3>{{natSubject.subject}}</h3>
        <div *ngFor="let natQuestion of natSubject.questions; let i = index">

          <article class="toetsen_question">
            <span>Vraag {{i + 1}}: {{natQuestion.Vraag}}</span>
            <p *ngIf="showScore" id="hint_nat_{{natSubject.subject}}_question_{{i}}">Correcte antwoord is: {{natQuestion.Antwoord}}</p>

            <div>
              <mat-radio-group *ngIf="natQuestion.Type == 'mpc'" name="nat_{{natSubject.subject}}_question_{{i}}" required>
                <mat-radio-button [value]="{question: natQuestion, submittedValue: natQuestion.Antwoord}" *ngFor="let randomizedAnswer of natQuestion.RandomizedAnswers">{{randomizedAnswer}}</mat-radio-button>
              </mat-radio-group>

              <mat-form-field *ngIf="natQuestion.Type == 'open'">
                <input matInput type="text" placeholder="Jouw antwoord" name="nat_{{natSubject.subject}}_question_{{i}}" required>
              </mat-form-field>
            </div>
            <mat-divider></mat-divider>
          </article>

        </div>
      </div>

    </mat-card>

    <mat-card class="test_container" *ngIf="scheikundeSubjectsArray.length !== 0">
      <h2>Scheikunde</h2>

      <div class="subject_container" *ngFor="let schSubject of scheikundeSubjectsArray">
        <h3>{{schSubject.subject}}</h3>
        <div *ngFor="let schQuestion of schSubject.questions; let i = index">

          <article class="toetsen_question">
            <span>Vraag {{i + 1}}: {{schQuestion.Vraag}}</span>
            <p *ngIf="showScore" id="hint_sch_{{schSubject.subject}}_question_{{i}}">Correcte antwoord is: {{schQuestion.Antwoord}}</p>

            <div>
              <mat-radio-group *ngIf="schQuestion.Type == 'mpc'" name="sch_{{schSubject.subject}}_question_{{i}}" required>
                <mat-radio-button [value]="{question: schQuestion, submittedValue: schQuestion.Antwoord}" *ngFor="let randomizedAnswer of schQuestion.RandomizedAnswers">{{randomizedAnswer}}</mat-radio-button>
              </mat-radio-group>

              <mat-form-field *ngIf="schQuestion.Type == 'open'">
                <input matInput type="text" placeholder="Jouw antwoord" name="sch_{{schSubject.subject}}_question_{{i}}" required>
              </mat-form-field>
            </div>

            <mat-divider></mat-divider>
          </article>
        </div>
      </div>
    </mat-card>
  </article>

  <button mat-button (click)="submitTest(top)">Check scores</button>
</mat-card>
