.toetsen_container{
  margin-top: 2%;
}

.test_container{
  margin: 1%;
  width: 95%;
  background-color: steelblue;
  color: white;
}

.toetsen_question{
  padding: 1%;
}

mat-divider{
  margin: 1%;
}

h2:hover{
  background-color: steelblue;
  color: white;
}

mat-radio-button{
  display: block;
}
