<mat-card *ngIf="called">
  <div *ngIf="!generated">
    <span>Toets aan het genereren...</span>
  </div>

  <div *ngIf="generated">
    <div *ngIf="!showFinalScore">
      <article>
        <h2>Toets</h2>

        <p>
          Introductie van de toets..
        </p>
      </article>
    </div>

    <div *ngIf="showFinalScore">
      <article>
        <h2 #scoreToScrollTo>Score</h2>
        Totaal aantal vragen: {{countCorrect + countIncorrect}}.<br>
        Waarvan goed: {{countCorrect}}.<br>
        Waarvan fout: {{countIncorrect}}.<br>
        Slagingspecentage: {{percentageCorrect}}%.<br>
        Cijfer: <b>{{grade}}</b>.<br>
      </article>
    </div>

    <mat-card *ngIf="natuurkundeSubjects.length !== 0">
      <h2>Natuurkunde</h2>
      <div class="question" *ngFor="let nat_subject of natuurkundeSubjects">
        <h3>{{nat_subject.subject}}</h3>
        <div class="question_list" *ngFor="let nat_question of nat_subject.questions; let i = index">
          <br>
          <span>Vraag {{i + 1}}: {{nat_question.question.Vraag}}</span>

          <mat-form-field *ngIf="nat_question.question.Type == 'open'" required>
            <input id="nat_open_{{nat_question.questionID}}" matInput placeholder="Jouw antwoord">
          </mat-form-field>

          <div *ngIf="nat_question.question.Type == 'mpc'">
            <mat-radio-group id="nat_mpc_{{nat_question.questionID}}" required>
              <mat-radio-button *ngFor="let possible_answer of this.getRandomizedPossibleAwnsers(nat_question)" id="nat_mpc_{{nat_question.questionID}}_{{possible_answer}}"[value]="possible_answer" (change)="changeMpcValue(nat_question, possible_answer)">{{possible_answer}}</mat-radio-button>
            </mat-radio-group>
          </div>

        </div>
      </div>
    </mat-card>

    <mat-card *ngIf="scheikundeSubjects.length !== 0">
      <h2>Scheikunde</h2>
      <div class="subject" *ngFor="let sch_subject of scheikundeSubjects">
        <h3>{{sch_subject.subject}}</h3>
        <div class="question_list" *ngFor="let sch_question of sch_subject.questions; let i = index" >
          <br>
          <span>Vraag {{i + 1}}: {{sch_question.question.Vraag}}</span>

          <mat-form-field *ngIf="sch_question.question.Type == 'open'">
            <input id="sch_open_{{sch_question.questionID}}" matInput placeholder="Jouw antwoord">
          </mat-form-field>

          <div *ngIf="sch_question.question.Type == 'mpc'">
            <mat-radio-group id="sch_mpc_{{sch_question.questionID}}">
                <mat-radio-button *ngFor= "let possible_awnser of this.getRandomizedPossibleAwnsers(sch_question)" id=sch_mpc_{{sch_question.questionID}}_{{possible_awnser}} (change)="changeMpcValue(sch_question, possible_awnser)" [checked]="false">{{possible_awnser}}</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
    </mat-card>
  </div>

  <button mat-button (click)="submitTest(scoreToScrollTo)">Controleer Toets</button>
</mat-card>

