<div class="main_content">
  <mat-card class="main_card">
    <h1>Scheidingsmethodes</h1>
    <p>Introductie over scheidingsmethodes...</p>

    <h2 #zuivere_stof_mengsel>Zuivere stof/mengsel</h2>
    <p>
      In de scheikunde heb je te maken met zuivere stoffen en met mengsels. Een <b>zuivere stof</b> is een stof die bestaat uit 1 soort moleculen. Een voorbeeld van een zuivere stof is bijvoorbeeld goud. De meeste stoffen die je tegenkomt zijn geen zuivere stoffen. Dit zijn mengsels. Een <b>mengsel</b> is een stof die bestaat uit meerdere soorten moleculen. Een voorbeeld hiervan is bijvoorbeeld melk
    </p>

    <h2 #soorten_mengsels>Soorten mengels</h2>
    <p>
      Naast het verschil tussen zuivere stoffen en mengsels zijn er weer verschillende mengsels te onderscheiden. De verschillende soorten mengsels zijn hieronder weergegeven:
    </p>
    <table>
      <tr>
        <th>Soorten mengsel</th>
        <th>Uitleg</th>
      </tr>
      <tr>
        <td>Oplossing</td>
        <td>Een helder mengsel van een stof (kan zowel vaste stof, vloeistof als gas zijn) in een vloeistof (het oplosmiddel). Het is een mengsel waarin de opgeloste stof is opgedeeld in losse moleculen die gelijkmatig verdeeld zijn. Een oplossing kan best gekleurd zijn.</td>
      </tr>
      <tr>
        <td>Suspensie</td>
        <td>Een vaste stof die niet oplost in een vloeistof. Bijvoorbeeld modder, verf, krijtpoeder in water. Een suspensie is altijd troebel en zal na enige tijd ontmengen (de vaste stof zakt naar de bodem).</td>
      </tr>
      <tr>
        <td>Emulsie</td>
        <td>Vloeistof die niet oplost in een andere vloeistof. Er zweven dus als het ware druppeltjes van de ene vloeistof in de andere. Door een emulgator toe te voegen blijven de stoffen wel gemengd. Voorbeelden van emulsies die door een emulgator gemengd blijven zijn: boter, melk en crème.</td>
      </tr>
      <tr>
        <td>Schuim</td>
        <td>Een gas dat niet oplost in een vloeistof. Zoals de schuimkraag op een pilsje, dit is koolstofdioxide in bier.</td>
      </tr>
      <tr>
        <td>Rook</td>
        <td>Kleine deeltjes vaste stof die niet oplossen in een gas</td>
      </tr>
      <tr>
        <td>Nevel</td>
        <td>Kleine druppels vloeistof die niet oplossen in een gas</td>
      </tr>
    </table>

    <h2 #soorten_oplossingen>Soorten oplossingen</h2>
    <p>
      Een oplossing is zoals hierboven al is uitgelegd een stof waarbij twee stoffen zijn gemengd en waar de moleculen gelijkmatig over het geheel verdeeld zijn. Als we kijken naar een oplossing zijn er ook verschillende soorten oplossingen: <br>
      <br>
      <b>Onverzadigde oplossing: </b> Er kan nog meer stof oplossen<br>
      <b>Verzadigde oplossing: </b> De maximale hoeveelheid stof is opgelost<br>
      <b>Onverzadigde oplossing: </b> Niet alle stof is opgelost, want er is te veel<br>
    </p>
    <p>
      Naast de verschillende soorten oplossingen kunnen we ook spreken over de <b>oplosbaarheid</b> van stoffen. De oplosbaarheid is e hoeveelheid stof die op kan lossen in een bepaalde hoeveelheid oplosmiddel:<br>
      - Bij een oplossing van een <b>vaste stof</b> in een vloeistof geldt dat de <u>oplosbaarheid toeneemt</u> als de temperatuur toeneemt.<br>
      - Bij een oplossing van een <b>gas</b> in een vloeistof geldt dat de <u>oplosbaarheid afneemt</u> als de <u>temperatuur toeneemt</u>.
    </p>

    <h2 #oplossingen_scheiden>Oplossingen scheiden</h2>
    <p>
      Men wilt oplossingen in sommige gevallen scheiden. Dit scheiden kan op verschillende manieren. Deze manieren noemen we <b>scheidingsmethoden</b>:
    </p>
    <table>
      <tr>
        <th>Scheidingsmethode</th>
        <th>Uitleg</th>
        <th>Voorbeeld opstelling</th>
      </tr>
      <tr>
        <td>Filtreren</td>
        <td>Deze methode wordt gebruikt als je te maken hebt met een suspensies. Deze methode werkt met het verschil in deeltjesgrootte. De kleine deeltjes zullen door het filter heen gaan en de grotere deeltjes zullen in het filter blijven hangen. Het deel dat door de filter heengaat heet het <b>filtraat</b> en het deel dat in het filter blijft liggen heet het <b>residu.</b></td>
        <td><img src="../../assets/img/scheikunde/scheidingsmethodes/filtreren_voorbeeld.jpg"></td>
      </tr>
      <tr>
        <td>Indampen</td>
        <td>Deze methode wordt gebruikt bij een oplossing. Hierbij worden mengsels gescheiden waarbij een vaste stof is opgelost in een vloeistof. Hierbij maakt men gebruik van het kookpunt van de verschillende stoffen. Het kookpunt van de ene stof ligt dan lager dan die van een andere stof. Als het kookpunt van de eerste stof wordt bereikt (van de vloeistof) zal deze stof gaan koken en langzaam overgaan in de gasfase. Na enige tijd blijft alleen de vaste stof over.</td>
        <td></td>
      </tr>
      <tr>
        <td>Extraheren</td>
        <td>Deze methode wordt gebruikt bij bijvoorbeeld thee en koffie zetten. Deze methode werkt met de oplosbaarheid. Als van een mengsel één stof wel oplost en de andere niet. Extraheren wordt vaak gebruikt in combinatie met filtreren. Bij het extraheren worden de geur- kleur en smaakstoffen uit bijvoorbeeld koffiepoeder of theeblaadjes gehaald.</td>
        <td></td>
      </tr>
      <tr>
        <td>Adsorberen</td>
        <td>Bij deze methode wil je de opgeloste stof uit een mengsel halen. Deze methode werkt door het verschil in hechtvermogen aan een <b>adsorptiemiddel</b>. Het adsorptiemiddel is een stof die je toevoegt om de opgeloste stof uit het mengsel te halen. Het hechten van de stof vindt plaats aan de oppervlakte. Adsorptiemiddelen hebben dan ook altijd een groot oppervlak om ervoor te zorgen dat alle opgeloste stof zich kan hechten.</td>
        <td><img src="../../assets/img/scheikunde/scheidingsmethodes/adsorberen_voorbeeld.jpg"></td>
      </tr>
      <tr>
        <td>Destilleren</td>
        <td>Deze methode pas je toe als je een oplossing van twee vloeistoffen wilt scheiden. Deze methode werkt ook met het verschil in kookpunt. Net als bij indampen zal een van de stoffen veranderen in een gas. Het verschil is hier alleen dat je beide vloeistoffen wilt overhouden. Het gas zal opstijgen en door de opstelling heen verplaatsen. Bij de koeler wordt deze damp afgekoeld waardoor de damp condenseert (weer vloeibaar wordt). Deze gecondenseerde damp heet het <b>destillaat</b>. De overgebleven vloeistof heet het <b>residu</b>.</td>
        <td><img src="../../assets/img/scheikunde/scheidingsmethodes/destilleren_voorbeeld.jpg"></td>
      </tr>
      <tr>
        <td>Bezinken</td>
        <td>Deze methode wordt meestal gebruikt om een suspensie te scheiden. Deze methode kan ook gebruikt worden om mengsels te scheiden die niet in elkaar oplossen. Deze methode werkt met de dichtheid van een stof. De stof met de grootste dichtheid zal na verloop van tijd naar beneden zakken. Na het bezinken kun je <b>decanteren</b>. Dit is het afgieten van het mengsel.</td>
        <td><img src="../../assets/img/scheikunde/scheidingsmethodes/bezinken_voorbeeld.jpg"></td>
      </tr>
    </table>
  </mat-card>

  <div class="side_cards">
    <mat-card class="navigator">
      <h2>Inhoud</h2>
      <button mat-button (click)="handleScroll(zuivere_stof_mengsel)">Zuivere stof/mengsel</button>
      <button mat-button (click)="handleScroll(soorten_mengsels)">Soorten mengsels</button>
      <button mat-button (click)="handleScroll(soorten_oplossingen)">Soorten oplossingen</button>
      <button mat-button (click)="handleScroll(oplossingen_scheiden)">Oplossingen scheiden</button>
    </mat-card>
    <mat-card class="youtube_clip">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/8icg86XTyOQ" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    </mat-card>
    <mat-card class="youtube_clip">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ydbMQiMXPoY" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    </mat-card>
    <mat-card class="youtube_clip">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/72iZMlWAhc8" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    </mat-card>
  </div>
</div>
