<div class="main_content">
  <mat-card class="main_card">
    <h1>Scheidingsmethodes</h1>
    <p>Introductie over scheidingsmethodes...</p>

    <h2>Zuivere stof/mengsel</h2>
    <p>
      In de scheikunde heb je te maken met zuivere stoffen en met mengsels. Een <b>zuivere stof</b> is een stof die bestaat uit 1 soort moleculen. Een voorbeeld van een zuivere stof is bijvoorbeeld goud. De meeste stoffen die je tegenkomt zijn geen zuivere stoffen. Dit zijn mengsels. Een <b>mengsel</b> is een stof die bestaat uit meerdere soorten moleculen. Een voorbeeld hiervan is bijvoorbeeld melk
    </p>

    <h2>Soorten mengels</h2>
    <p>
      Naast het verschil tussen zuivere stoffen en mengsels zijn er weer verschillende mengsels te onderscheiden. De verschillende soorten mengsels zijn hieronder weergegeven:
    </p>
    <table>
      <tr>
        <th>Soorten mengsel</th>
        <th>Uitleg</th>
      </tr>
    </table>

    <h2>Soorten oplossingen</h2>
    <p>
      Een oplossing is zoals hierboven al is uitgelegd een stof waarbij twee stoffen zijn gemengd en waar de moleculen gelijkmatig over het geheel verdeeld zijn. Als we kijken naar een oplossing zijn er ook verschillende soorten oplossingen: <br>
      <br>
      <b>Onverzadigde oplossing: </b> Er kan nog meer stof oplossen<br>
      <b>Verzadigde oplossing: </b> De maximale hoeveelheid stof is opgelost<br>
      <b>Onverzadigde oplossing: </b> Niet alle stof is opgelost, want er is te veel<br>
    </p>
    <p>
      Naast de verschillende soorten oplossingen kunnen we ook spreken over de <b>oplosbaarheid</b> van stoffen. De oplosbaarheid is e hoeveelheid stof die op kan lossen in een bepaalde hoeveelheid oplosmiddel:<br>
      - Bij een oplossing van een <b>vaste stof</b> in een vloeistof geldt dat de <u>oplosbaarheid toeneemt</u> als de temperatuur toeneemt.<br>
      - Bij een oplossing van een <b>gas</b> in een vloeistof geldt dat de <u>oplosbaarheid afneemt</u> als de <u>temperatuur toeneemt</u>.
    </p>

    <h2>Oplossingen scheiden</h2>
    <p>
      Men wilt oplossingen in sommige gevallen scheiden. Dit scheiden kan op verschillende manieren. Deze manieren noemen we <b>scheidingsmethoden</b>:
    </p>
    <table>
      <tr>
        <th>Scheidingsmethode</th>
        <th>Uitleg</th>
        <th>Voorbeeld opstelling</th>
      </tr>
    </table>
  </mat-card>

  <div class="side_cards">
    <mat-card class="youtube_clip">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ydbMQiMXPoY" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    </mat-card>
    <mat-card class="youtube_clip">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/72iZMlWAhc8" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    </mat-card>
  </div>
</div>
