<mat-toolbar>
  <div class="button_bar">
    <button mat-button routerLink="/home" routerLinkActive="active" class="menu_button"><mat-icon>home</mat-icon></button>
    <button mat-button routerLink="/natuurkunde" routerLinkActive="active" class="menu_button"><span>Natuurkunde</span></button>
    <button mat-button routerLink="/scheikunde" routerLinkActive="active" class="menu_button"><span>Scheikunde</span></button>
    <button mat-button routerLink="/zelfoefenen" routerLinkActive="active" class="menu_button"><span>Zelf oefenen</span></button>
    <button mat-button routerLink="/toetsen" routerLinkActive="active" class="menu_button"><span>Toetsen</span></button>
    <button mat-button routerLink="/contact" routerLinkActive="active" class="menu_button"><span>Contact</span></button>
  </div>
    <div class="search_bar">
      <form>
        <mat-form-field>
          <input matInput type="search" placeholder="Zoeken">
        </mat-form-field>
      </form>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>
<footer>

</footer>

