<div class="main_content">
  <mat-card class="main_card">
    <h1>Kracht en Beweging</h1>
    <p>Introductie over hoofdstuk..</p>

    <h2>Krachten</h2>
    <p>Een kracht is een natuurkundige grootheid. Een kracht kan zorgen voor drie dingen:<br>
      - Kan een voorwerp laten bewegen<br>
      - Kan een voorwerp van richting laten veranderen<br>
      - Kan een voorwerp van vorm laten veranderen<br>
    </p>
    <p>
      Een kracht meet je in Newton (N) dit is afkomstig van de gelijknamige ontdekker Isaac Newton. Het symbool voor een kracht is de letter F.
    </p>
    <table>
      <tr>
        <th>Grootheid</th>
        <th>Grootheid symbool</th>
        <th>Eenheid</th>
        <th>Eenheid symbool</th>
      </tr>
      <tr>
        <td>Kracht</td>
        <td>F</td>
        <td>Newton</td>
        <td>N</td>
      </tr>
    </table>

    <h2>Vorm veranderen</h2>
    <p>
      Een kracht kan er onterendere voor zorgen dat de vorm van een voorwerp veranderd. Dit kan op twee manieren:<br>
      - <b>Plastische vervorming:</b> dit is een blijvende verandering. Het voorwerp zal niet meer teruggaan naar de oude vorm. Dit gebeurd bijvoorbeeld als een auto tegen een boom aanrijd.<br>
      - <b>Elastische vervorming:</b> dit is een vervorming die niet blijvend is. Het voorwerp zal na de kracht weer teruggaan in de oude vorm.<br>
      Dit gebeurd bijvoorbeeld als je een bal indrukt en daarna weer loslaat.
    </p>

    <h2>Krachten tekenen</h2>
    <p>
      Een kracht kan je tekenen. Dit doe je met een <b>vector</b>. Een vector is een pijl die een aantal dingen aangeeft:<br>
      - De grootte van de kracht<br>
      - De richting van de kracht<br>
      - Het beginpunt van de kracht (<b>aangrijpingspunt</b>)
    </p>

    <img src="../../assets/img/natuurkunde/krachtbeweging_tekenvector.png">

    <p>
      Bij het tekenen van een kracht ga je als volgt te werk:<br>
      - Stap 1: je kijkt waar de kracht begint. Dit is het <b>aangrijpingspunt</b>. Je zet hier een klein puntje.<br>
      - Stap 2: je kijkt in welke richting de kracht wordt geleverd. Dit is dan ook de richting van de kracht.<br>
      - Stap 3: Je kijkt hoe groot de kracht is. Je bepaalt aan de hand hiervan welke schaal je gaat gebruiken. Dit zegt hoeveel Newton 1 centimeter op jouw tekening voorstelt.
      Je schrijft je schaal ook op. Een voorbeeld (1 cm = 100 N) als je dan een kracht hebt van 500 N is je pijl dus 5cm lang.
    </p>
    <h3>Vragen krachten tekenen</h3>
    <p>
      Beantwoord de volgende vragen:<br>
      - Hoe heet de pijl die je tekent?<br>
      - Welke drie punten zijn belangrijk bij het tekenen van een kracht?
    </p>
    <button mat-button (click)="handleShowAwnsers()">Toon antwoorden</button>
    <p *ngIf="show_awnsers">
      - een <b>Vector</b><br>
      - De <b>grootte</b>, de <b>richting</b> en het <b>beginpunt (aangrijpingspunt)</b> van een kracht.
    </p>

    <h2>Soorten krachten</h2>
    <p>
      Om ons heen hebben we veel te maken met krachten. We kennen vele soorten krachten:
    </p>
    <table class="data_table">
      <tr>
        <th id="naam_van_kracht">Naam van de kracht</th>
        <th id="uitleg">Uitleg</th>
        <th id="voorbeeld_plaatje">Voorbeeld</th>
      </tr>
      <tr>
        <td>Spierkracht</td>
        <td>Spierkracht is afkomstig uit de spieren van ons lichaam. Om te kunnen bewegen spannen wij onze spieren. Zonder dat wij onze spieren aan zouden spannen kunnen wij niet rechtop staan. Je lichaam levert dus voortdurend spierkracht om overeind te blijven. Ook als je met je lichaam iets zwaars optilt, ergens een duw tegen geeft of ergens op slaat werkt de spierkracht. </td>
        <td></td>
      </tr>
      <tr>
        <td>Zwaartekracht</td>
        <td>Zwaartekracht is een groot begrip. Zwaartekracht is er overal op aarde. De zwaartekracht zorgt ervoor dat wij op de aarde blijven staan en niet gaan zweven. De zwaartekracht is dus een aantrekkingskracht vanuit de kern van de aarde. Niet alleen de aarde heeft een zwaartekracht. Ook de zon heeft een zwaartekracht. Bij de zon zorgt deze zwaartekracht ervoor dat de planeten om de zon blijven draaien. De zwaartekracht staat altijd loodrecht op het aardoppervlak.</td>
        <td></td>
      </tr>
      <tr>
        <td>Veerkracht</td>
        <td>Veerkracht wordt zoals het woord al zegt veroorzaakt door een veer. Als je een veer uitrekt met je armen (spierkracht) zal de veer wanneer je deze loslaat weer in elkaar gaan. Dit komt door de veerkracht. </td>
        <td><img src="../../assets/img/natuurkunde/krachtbeweging_veerkrachtvoorbeeld.png"></td>
      </tr>
      <tr>
        <td>Spankracht</td>
        <td>Spankracht is de kracht die ontstaat als iets gespannen staat. Wanneer jij aan een touw gaat hangen ontstaat er een spankracht.</td>
        <td></td>
      </tr>
      <tr>
        <td>Magnetische kracht</td>
        <td>Magnetische kracht werkt bij magneten. Magneten kunnen over een grote afstand elkaar beïnvloeden. Een magneet bestaat uit twee polen (kanten). Je hebt de noord- en de zuidpool. Twee dezelfde polen stoten elkaar af (willen weg van elkaar) maar twee verschillende polen trekken elkaar aan (willen naar elkaar toe). De kracht van deze magneten die zorgt voor het aantrekken of afstoten noem je de magnetische kracht.
          Net als een magneet heeft de aarde ook twee polen. Het bovenste deel van de aarde is de noordpool en het onderste deel de zuidpool. Deze delen zijn ook magnetisch.
        </td>
        <td><img src="../../assets/img/natuurkunde/krachtbeweging_magnetischekrachtvoorbeeld.png"></td>
      </tr>
      <tr>
        <td>Wrijvingskracht/Weerstandskracht</td>
        <td>Wrijvingskracht (ook wel weerstandskracht genoemd) ontstaat als twee voorwerpen langs elkaar bewegen.  Dit ontstaat bijvoorbeeld als je je handen heel snel over elkaar heen veegt. Er ontstaat dan <b>wrijving</b> tussen deze 2 voorwerpen. Deze wrijving wil je het liefst zo klein mogelijk houden want deze werkt meestal in je nadeel (denk aan harde wind op de fiets, de wind komt tegen jou aan waardoor je minder hard kunt fietsen).</td>
        <td></td>
      </tr>
      <tr>
        <td>Gewicht</td>
        <td>Het gewicht is niet zoals velen mensen denken hoeveel je weegt. Het gewicht is een kracht die de ondergrond uitoefent op jou. Als jij op de grond staat wordt er door de grond een kracht uitgeoefend om ervoor te zorgen dat je kan blijven staan en niet door de grond heen zakt. De kracht van de grond op jou noemen we het gewicht. Als jij op de grond staat is dit dus gelijk aan je massa (hoeveel je weegt). Als je nergens op leunt of staat, en dus een vrijeval maakt (of een sprong hebt gemaakt) heb je geen gewicht, dit heb je alleen bij een ondersteuning.</td>
        <td></td>
      </tr>
    </table>
    <h3>Vragen soorten krachten</h3>
    <p>
      Beantwoord de volgende vragen:<br>
      - Welke krachten kennen we? (noem er 5)<br>
      - Wat is het gewicht?
    </p>
    <button mat-button (click)="handleShowAwnsers()">Toon antwoorden</button>
    <p *ngIf="show_awnsers">
      - Spierkracht, zwaartekracht, veerkracht, spankracht, magnetische kracht, wrijvingskracht (weerstandskracht) en gewicht.
      - De kracht van de ondersteuning op het voorwerp
    </p>

    <h2>Zwaartekracht berekenen</h2>
    <p>
      De zwaartekracht kan je berekenen. Op elke planeet is de aantrekking anders en daarom is de zwaartekracht ook op iedere planeet anders.
      De zwaartekracht kan je berekenen met de volgende formule:<br>
      <i>Fz = m ∙ g</i>
    </p>
    <table>
      <tr>
        <th>Grootheid</th>
        <th>Symbool grootheid</th>
        <th>Eenheid</th>
        <th>Symbool eenheid</th>
      </tr>
      <tr>
        <td>Zwaartekracht</td>
        <td>Fz</td>
        <td>Newton</td>
        <td>N</td>
      </tr>
      <tr>
        <td>Massa</td>
        <td>m</td>
        <td>Kilogram</td>
        <td>kg</td>
      </tr>
      <tr>
        <td>Gravitatieconstante</td>
        <td>g</td>
        <td>Newton per kilogram</td>
        <td>N/kg</td>
      </tr>
    </table>
    <p>
      De gravitatieconstante is per planeet een vaste waarde:
    </p>
    <table>
      <tr>
        <th>Planeet</th>
        <th>Gravitatieconstante (in N/kg)</th>
      </tr>
      <tr>
        <td>Zon</td>
        <td>274</td>
      </tr>
      <tr>
        <td>Mercurius</td>
        <td>3,78</td>
      </tr>
      <tr>
        <td>Venus</td>
        <td>8,60</td>
      </tr>
      <tr>
        <td>Aarde</td>
        <td>9,81</td>
      </tr>
      <tr>
        <td>Mars</td>
        <td>3,72</td>
      </tr>
      <tr>
        <td>Jupiter</td>
        <td>22,88</td>
      </tr>
      <tr>
        <td>Saturnus</td>
        <td>9,05</td>
      </tr>
      <tr>
        <td>Uranus</td>
        <td>7,77</td>
      </tr>
      <tr>
        <td>Neptunes</td>
        <td>11</td>
      </tr>
      <tr>
        <td>Pluto</td>
        <td>0,40</td>
      </tr>
    </table>
    <h3>Vragen zwaartekracht berekenen</h3>
    <p>
      Beantwoord de volgende vragen:<br>
      - Op een vreemde planeet werkt er op een voorwerp met een massa van 2,3 kg een zwaartekracht van 46 N. Bereken de gravitatieversnelling op deze planeet.<br>
    </p>
    <button mat-button (click)="handleShowAwnsers()">Toon antwoorden</button>
    <p *ngIf="show_awnsers">
      - De gravitatieversnelling op deze planeet is: Fz / m -> 46N / 2,3 kg = 20 N/kg
    </p>

    <h2>Effect van een kracht</h2>
    <p>
      Een van de effecten van een kracht is dat het ervoor kan zorgen dat een voorwerp gaat bewegen. Als we kijken naar de beweging van voorwerpen door een kracht kennen we twee regels:<br>
      <b>Eerste wet van Newton</b>: Als er een voorwerp een geen resulterende kracht (de som van alle krachten) werkt, dus alles heft elkaar op of er is geen kracht, zal het voorwerp stilstaan of met dezelfde snelheid doorbewegen.<br>
      <b>Tweede wet van Newton</b>: Als er op een voorwerp wel een resulterende kracht werkt, zal het voorwerp in die richting versneld bewegen (de snelheid wordt steeds groter).<br>
      Nu we het hebben over de wetten van Newton kan de derde natuurlijk niet achterblijven:<br>
      <b>Derde wet van Newton</b>: Als voorwerp A op voorwerp B drukt zal voorwerp B met dezelfde kracht terugdrukken. Dit is dus bijvoorbeeld het Gewicht (zie soorten krachten).
    </p>

    <h2>Soorten bewegingen</h2>
    <p>
      Met de wetten van Newton weten we dus dat een kracht kan zorgen voor een beweging. Daarom gaan we nu ook kijken welke soorten bewegingen er zijn:
    </p>
    <table>
      <tr>
        <th>Naam</th>
        <th>Uitleg</th>
        <th>Voorbeeld</th>
      </tr>
      <tr>
        <td>Eenparige beweging</td>
        <td>Een eenparige beweging wordt ook wel een constante beweging genoemd. Een eenparige beweging is een beweging waarbij de snelheid van het voorwerp gelijk blijft. </td>
        <td>Een auto rijd op de snelweg gemiddeld 100 km/h.</td>
      </tr>
      <tr>
        <td>Versnelde beweging</td>
        <td>Een versnelde beweging is wanneer een voorwerp steeds sneller gaat bewegen. De snelheid wordt steeds groter</td>
        <td>Een auto trekt op van 0 km/h naar 50 km/h.</td>
      </tr>
      <tr>
        <td>Vertraagde beweging</td>
        <td>Een vertraagde beweging is wanneer een voorwerp steeds minder snel gaat bewegen. De snelheid wordt steeds kleiner.</td>
        <td>Een auto remt en gaat van 80 km/h naar 30 km/h.</td>
      </tr>
    </table>
    <p>
      Deze soorten bewegingen kunnen we ook tekenen in een grafiek. Hierbij kan je twee soorten grafieken maken:
    </p>
    <table>
      <tr>
        <th>Naam</th>
        <th>Uitleg</th>
      </tr>
      <tr>
        <td>X,t-diagram</td>
        <td>Hierbij zet je de tijd (t) op de x-as (horizontaal) en de plaats (x) op de y-as (verticaal) </td>
      </tr>
      <tr>
        <td>V,t-diagram</td>
        <td>Hierbij zet je de tijd (t) op de x-as (horizontaal) en de snelheid (v) op de y-as (verticaal)</td>
      </tr>
    </table>
    <p>
      Als we de drie soorten bewegingen in de verschillende diagrammen ziet dat er als volgt uit:
    </p>
    <img src="../../assets/img/natuurkunde/krachtbeweging_verschillendebewegingen.png">
    <p>Als we kijken naar bewegingen spreken we over een aantal grootheden:</p>
    <table>
      <tr>
        <th>Grootheid</th>
        <th>Symbool grootheid</th>
        <th>Eenheid</th>
        <th>Symbool eenheid</th>
      </tr>
      <tr>
        <td>Snelheid</td>
        <td>v</td>
        <td>Kilometer per uur of Meter per seconde</td>
        <td>Km/h of m/s</td>
      </tr>
      <tr>
        <td>Tijd</td>
        <td>t</td>
        <td>Uur of seconde</td>
        <td>H of s</td>
      </tr>
      <tr>
        <td>Plaats</td>
        <td>x</td>
        <td>Kilometer of meter</td>
        <td>km of m</td>
      </tr>
      <tr>
        <td>Afstand</td>
        <td>s</td>
        <td>Kilometer of meter</td>
        <td>km of m</td>
      </tr>
    </table>

    <h2>Snelheid berekenen</h2>
    <p>
      De snelheid van een voorwerp kan je ook berekenen. Dit doe je met de formule:<br>
      <i>v = s/t</i>
    </p>
    <table>
      <tr>
        <th>Grootheid</th>
        <th>Symbool grootheid</th>
        <th>Eenheid</th>
        <th>Symbool eenheid</th>
      </tr>
      <tr>
        <td>Snelheid</td>
        <td>s</td>
        <td>Kilometer per uur of meter per seconde</td>
        <td>Km/h of m/s</td>
      </tr>
      <tr>
        <td>Tijd</td>
        <td>t</td>
        <td>Uur of seconde</td>
        <td>H of s</td>
      </tr>
      <tr>
        <td>Afstand</td>
        <td>s</td>
        <td>Kilometer of meter</td>
        <td>km of m</td>
      </tr>
    </table>

    <h2>Versnelling/vertraging berekenen</h2>
    <p>
      Bij een versnelde of een vertraagde beweging kun je uitrekenen hoe groot deze versnelling is. Dat doe je met de formule:<br>
      <i>a = Δv/Δt</i>
    </p>
    <table>
      <tr>
        <th>Grootheid</th>
        <th>Symbool grootheid</th>
        <th>Eenheid</th>
        <th>Symbool eenheid</th>
      </tr>
      <tr>
        <td>Versnelling</td>
        <td>a</td>
        <td>Meter per seconden in het kwadraat</td>
        <td>m/s^2</td>
      </tr>
      <tr>
        <td>Verschil in snelheid</td>
        <td>Δv</td>
        <td>meter per seconde</td>
        <td>m/s</td>
      </tr>
      <tr>
        <td>Verschil in tijd</td>
        <td>Δt</td>
        <td>seconde</td>
        <td>s</td>
      </tr>
    </table>
    <p>
      In deze formule zie je een Δ. Dit is een delta (een Grieks symbool). De delta betekent het verschil in. Dit verschil reken je uit door eind- begin te doen.<br>
      Stel: je rijd 20 m/s en geeft gas tot 50 km/h. Dan doe je 50-20= 30 km/h. Dit is het verschil in snelheid dan.
    </p>
    <p>
      Het kan zijn dat je niet gas bij geeft maar juist remt. Dan ben je aan het vertragen. Als dit zo is komt Δv uit op een negatief getal (met een 0 ervoor). Als je dit dan invult in de formule krijg je ook een negatief getal als uitkomst. Dit betekend dat het een negatieve versnelling is (een vertraging dus). Als je over de vertraging wilt preken moet je de min weg laten.
    </p>

    <h2>Omrekenen</h2>
    <p>
      Zoals je in bovenstaande onderwerpen al hebt gezien werken we met verschillende eenheden. Deze eenheden kan je ook omrekenen. Dit doe je met de volgende methodes:
    </p>
    <img src="../../assets/img/natuurkunde/krachtbeweging_rekenafstanden.png">
    <img src="../../assets/img/natuurkunde/krachtbeweging_rekentijden.png">
    <img src="../../assets/img/natuurkunde/krachtbeweging_rekensnelheid.png">

  </mat-card>

  <div class="side_cards">
    <mat-card class="youtube_clip">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ydbMQiMXPoY" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    </mat-card>
    <mat-card class="practica">
      <p>Link naar practica</p>
    </mat-card>
  </div>
</div>
