<div class="main_content">
  <mat-card class="main_card">
    <h1>Koolstofchemie</h1>
    <p>
      Introductie over koolstofchemie
    </p>

    <h2>Fossiele brandstoffen</h2>
    <p>
      De meeste brandstoffen zijn van plantaardige en/of dierlijke herkomst. Benzine, kerosine en diesel wordt gewonnen uit aardolie. En aardolie is ontstaan uit de overblijfselen van afgestorven micro-organismen zoals plankton, bacteriën, wieren en algen die miljoenen jaren geleden in onze oceanen leefden. Ook steenkool en aardgas zijn ontstaan uit organisch materiaal (voornamelijk planten) dat in de loop van miljoenen jaren is omgezet. Dit omzettingsproces noemt men <b>fossilisatie</b>. Aardolie, steenkool en aardgas worden dan ook <b>fossiele brandstoffen</b> genoemd.
    </p>
    <p>
      Fossiele brandstoffen zijn opgebouwd uit koolstofatomen en waterstofatomen. Zulke stoffen noemen scheikundigen ook wel koolwaterstoffen. Het is wel logisch dat fossiele brandstoffen bestaan uit koolwaterstoffen, want de bron van fossiele brandstoffen (alle levende natuur op aarde) is ook opgebouwd uit koolwaterstoffen.
    </p>
  </mat-card>

  <div class="side_cards">

  </div>
</div>
