<div class="main_content">
  <mat-card class="main_card">
    <h1>Licht en geluid</h1>
    <section>
      <p>
        In dit hoofdstuk gaan we kijken naar licht en geluid.
        Licht en geluid hebben veel overeenkomsten maar ook zeker veel verschillen.
        We gaan eerst kijken naar deze verschillen en overeenkomsten.
        We kijken hierbij naar de volgende onderdelen:<br>
        - Bron: Hoe noemen we de bron waar het afkomstig van is.<br>
        - Snelheid: hoe snel beweegt het (door lucht).<br>
        - Tussenstof: heeft het een tussenstof nodig om zich te verplaatsen.<br>
        - Soort verplaatsing.<br>
        - Wat meten we.<br>
      </p>

      <table>
        <tr>
          <th>Onderwerp</th>
          <th>Licht</th>
          <th>Geluid</th>
        </tr>
        <tr>
          <td>Bron</td>
          <td>Lichtbron</td>
          <td>Geluidsbron</td>
        </tr>
        <tr>
          <td>Snelheid</td>
          <td>299.792 m/s</td>
          <td>343 m/s</td>
        </tr>
        <tr>
          <td>Tussenstof</td>
          <td>Heeft geen tussenstof nodig om zich te verplaatsen.</td>
          <td>Heeft wel een tussenstof nodig om zich te verplaatsen.</td>
        </tr>
        <tr>
          <td>Soort verplaatsing</td>
          <td>Licht is een golf</td>
          <td>Geluid is een trilling..</td>
        </tr>
        <tr>
          <td>Wat meten we</td>
          <td>Bij een golf meten we de golflengte (de lengte van 1 golf).</td>
          <td>Bij een trilling meten we de trillingstijd (hoe lang doet 1 trilling erover).</td>
        </tr>
      </table>

      <p>
        In de rest van dit hoofdstuk gaan we naar verschillende pricipes van zowel licht als geluid kijken.
      </p>
    </section>

    <section>
      <h3 #voorwerpen_zien>Voorwerpen zien</h3>
      <p>
        Voordat je een voorwerp kunt zien moet er eerst een lichtstraal van dat voorwerp op jou ogen vallen.
        Als er geen lichtstaal op jou ogen valt, kan je dit voorwerp ook niet zien.
        <b>Lichtstralen</b> zijn rechte lijnen die zich vanaf een <b>lichtbron</b> (uitzender van het licht) voortbewegen tot ze uiteindelijk in jou oog terecht komen.
      </p>
      <p>
        We kennen twee soorten lichtbronnen:<br>
        - <b>Natuurlijke lichtbron:</b> dit is natuurlijk licht, bijvoorbeeld de zon.<br>
        - <b>Kunstmatige lichtbron:</b> dit is een lichtbron waarbij licht gegenereerd wordt door een toepassing gemaakt door de mens, bijvoorbeeld een lamp of kaars.
      </p>
      <p>
        De lichtstralen vanuit deze lichtbronnen botsen tegen allerlei voorwerpen aan.
        Als ze hier tegenaan boten worden de lichtstralen weerkaatst.
        Dit weerkaatsen kan op 2 manieren:<br>
        - <b>Spiegelende weerkaatsing:</b> hierbij valt het licht op een zeer vlak voorwerp zoals een spiegel.<br>
        - <b>Diffuse weerkaatsing:</b>: Hierbij valt het licht op een geribbeld voorwerp zoals een muur of een bal.
      </p>
      <p>
        Bij een diffuse weerkaatsing gaat het licht alle kanten op.
        Bij een spiegelende weerkaatsing kunnen we wel zeggen waar de lichtstralen naartoe gaat.
        Als je dit gaat tekenen heet dat <b>lichtstralen construeren</b>.
        Bij een spiegel geldt een belangrijke regel: <u>de hoek van inval is gelijk aan de hoek van terugkaatsing</u>.
        Dit betekend dat de hoek waarmee de lichtstraal op de spiegel valt even groot is als de hoek waarmee de lichtstraal de spiegel zal verlaten.
        Aan de hand van deze regel kan je de lichtstralen tekenen.
      </p>
      <img src="../../assets/img/natuurkunde/licht_geluid/hoek_van_inval.jpg">
      <p>
        Dit doe je als volgt:
      </p>
      <ol>
        <li>Teken een normaal loodrecht op een spiegel (dit doe je met de loodlijn in je geodriehoek). Zie de tekening 2</li>
        <li>Meet de hoek van inval op met je geodriehoek. Zie tekening 3</li>
        <li>Teken de hoek van terugkaatsing met een klein stipje. Zie tekening 4</li>
        <li>Vermeld de letters i en t in je tekening</li>
      </ol>
      <img src="../../assets/img/natuurkunde/licht_geluid/tekenen_hoek_van_inval.jpg">
    </section>

    <section>
      <h3 #spiegelbeeld_tekeken>Spiegelbeeld tekenen</h3>
      <p>
        Naast het tekenen van de lichtstralen kunnen we ook het spiegelbeeld tekenen.
        Het <b>spiegelbeeld</b> is het beeld dat achter de spiegel lijkt te liggen.
        Dit is er niet echt en daarom noemen we dit een virtueel beeld. Het beeld dat er lijkt te zijn licht op precies dezelfde plek achter de spiegel.
        Dit kan je ook tekenen door het beeld (bijvoorbeeld punt v hieronder).
      </p>
      <p>
        Je kan tekenen met de regel bij een spiegel hoe deze lichtstraal verder gaat en in het oog komt.
        Met de rode lijn zie je dat punt b precies achter de spiegel op dezelfde plek als punt v voor de spiegel.
      </p>
      <img src="../../assets/img/natuurkunde/licht_geluid/tekeken_spiegelbeeld.jpg">
    </section>

    <section>
      <h3 #lenzen>Lenzen</h3>
      <p>
        Bij het onderwerp licht en zien kennen we ook lenzen.
        Veel mensen dragen een bril en lenzen worden in het dagelijks leven ook gebruikt in vergrootglazen, in een camera of telescopen.
        We kennen twee soorten lenzen:
      </p>
      <table>
        <tr>
          <th>Soort lens</th>
          <th>Omschrijving</th>
          <th>Negatief/Positief</th>
          <th>Voorbeeld</th>
        </tr>
        <tr>
          <td>Holle lens</td>
          <td>Aan de buitenkant breder dan aan de binnenkant.</td>
          <td>Negatief</td>
          <td><img src="../../assets/img/natuurkunde/licht_geluid/holle_lens.jpg"></td>
        </tr>
        <tr>
          <td>Bolle lens</td>
          <td>Aan de binnenkant breder dan aan de buitenkant.</td>
          <td>Positief</td>
          <td><img src="../../assets/img/natuurkunde/licht_geluid/bolle_lens.jpg"></td>
        </tr>
      </table>
      <p>
        Deze lenzen hebben een andere werking.
        Een bolle (positieve) lens zorgt ervoor dat het licht naar binnen wordt gebroken.
        Dat ziet er als volgt uit:
      </p>
      <img src="../../assets/img/natuurkunde/licht_geluid/voorbeeld_bolle_lens.jpg">
      <p>
        Een holle (negatieve) lens zorgt ervoor dat het licht naar buiten wordt gebroken.
        Dat ziet er als volgt uit:
      </p>
      <img src="../../assets/img/natuurkunde/licht_geluid/voorbeeld_holle_lens.jpg">
      <p>
        In beide tekeningen is te zien dat de lichtstralen ergens samenkomen.
        Dit punt noemt men het <b>brandpunt.</b>
        Dit punt licht op een bepaalde afstand van de lens en heet de brandpuntsafstand.
      </p>
      <p>
        ALs je naar de 2 afbeeldingen hierboven kijkt zie je dat er drie soorten <b>lichtbundels</b> zijn.
        Dit zijn groepen lichtstralen.
        De drie soorten lichtbundels die we kennen zijn:
      </p>
      <table>
        <tr>
          <th>Lichtbundel</th>
          <th>Uitleg</th>
          <th>Voorbeeld</th>
        </tr>
        <tr>
          <td>Evenwijdig</td>
          <td>De lichtstralen lopen evenwijdig aan elkaar.</td>
          <td><img src="../../assets/img/natuurkunde/licht_geluid/evenwijdige_lichtbundel.jpg"></td>
        </tr>
        <tr>
          <td>Convergent</td>
          <td>De lichtstralen gaan naar elkaar toe.</td>
          <td><img src="../../assets/img/natuurkunde/licht_geluid/convergente_lichtbundel.jpg"></td>
        </tr>
        <tr>
          <td>Divergent</td>
          <td>De lichtstralen gaan van elkaar af.</td>
          <td><img src="../../assets/img/natuurkunde/licht_geluid/divergente_lichtbundel.jpg"></td>
        </tr>
      </table>
    </section>

    <section>
      <h3 #lenzen_bij_mensen></h3>
      <span>To be continued...</span>
    </section>
  </mat-card>
</div>
