<div class="no_sidecard_main_content">
  <mat-card>
    <div>
      <h1 (click)="handleViewSubject('introductie')">Elektriciteit</h1>
    </div>

    <div>
      <h2 (click)="handleViewSubject('lading')">Lading
        <mat-icon *ngIf="getShowSubject('lading')">keyboard_arrow_up</mat-icon>
        <mat-icon *ngIf="!getShowSubject('lading')">keyboard_arrow_down</mat-icon>
      </h2>
      <article *ngIf="getShowSubject('lading')">
        <p>
          Er zijn twee verschillende soort lading.
          Deze worden <b>positieve lading</b> en <b>negatieve ladingen</b> genoemd.
          Een positieve lading is een positief geladen deeltje, ook wel een proton genoemd.
          Een negatieve lading is een negatief geladen deeltje, ook wel een elektron genoemd.
          Een voorwerp wilt altijd <b>neutraal</b> geladen zijn, dit houd in dat er net zo veel positieve lading is als negatieve lading
        </p>
        <p>
          Een lading kan je veroorzaken door wrijving.
          Bijvoorbeeld door een ballon over een ander voorwerp te wrijven wordt de ballon negatief geladen.
          Dit houd in dat hij meer negatieve deeltjes dan positieve deeltjes heeft.
          De elektrische kracht die tussen twee voorwerpen werkt kun je dan verklaren.
          De kracht tussen twee gelijk ladingen is <b>afstotend</b>.
          Dus wanneer een positief en een ander positief voorwerp bij elkaar houd zullen deze elkaar afstoten.
          De kracht tussen twee ongelijke ladingen <b>trekken elkaar aan</b>.
        </p>
        <img src="">
        <img src="">
      </article>
    </div>

    <div>
      <h2 (click)="handleViewSubject('elektriciteit')">Elektriciteit
        <mat-icon *ngIf="getShowSubject('elektriciteit')">keyboard_arrow_up</mat-icon>
        <mat-icon *ngIf="!getShowSubject('elektriciteit')">keyboard_arrow_down</mat-icon>
      </h2>
      <article *ngIf="getShowSubject('elektriciteit')">
        <p>
          Bij elektriciteit heb je te maken met de negatieve deeltjes (de elektronen). Deze elektronen bewegen en hierdoor ontstaat er stroom.
          Als je kijkt naar een batterij zie je altijd een plus en een min. Dit heeft te maken met de lading van deeltjes.
          Bij de <b>plus</b> zijn te weinig elektronen (negatieve deeltjes) en bij de min zijn te veel elektronen (negatieve deeltjes).
          De elektronen zullen dan van de plus naar de min gaan.
          Dit noem je de <b>elektronen richting</b>. Dit is de richting van de elektronen.
        </p>
        <p>
          Naast de elektronen richting wordt er ook gesproken over de stroomrichting.
          Hierbij kijken ze naar een positieve richting (dus het tegenovergestelde van de negatieve deeltjes).
          De <b>stroomrichting</b> is de richting van de stroom en deze is altijd van de plus naar de min.
        </p>
      </article>
    </div>

    <div>
      <h2 (click)="handleViewSubject('geleidersisolatoren')">Geleiders en Isolatoren
        <mat-icon *ngIf="getShowSubject('geleidersisolatoren')">keyboard_arrow_up</mat-icon>
        <mat-icon *ngIf="!getShowSubject('geleidersisolatoren')">keyboard_arrow_down</mat-icon>
      </h2>
      <article *ngIf="getShowSubject('geleidersisolatoren')">
        <p>
          Je hebt stoffen die elektriciteit goed doorgeven en stoffen die elektriciteit niet goed doorgeven.
          Een <b>geleider</b> is een stof waar lading zich goed door kan verplaatsen.
          In vrijwel alle metalen kunnen elektronen vrij bewegen. Lading kan zich daarom makkelijk door metalen verplaatsen.
        </p>
        <p>
          Een <b>isolator</b> is een stof waar lading zich niet goed door kan verplaatsen.
          In deze stoffen kunnen de elektronen zich minder goed of niet bewegen.
          Het is dus niet mogelijk om stroom door een isolator te laten lopen.
          Voorbeelden van isolatoren zijn glas, plastic, hout en rubber.
        </p>

        <mat-card class="subject_questions">
          <p>1. Vul de ontbrekende woorden in:<br>
            Een (<span *ngIf="getShowAnswers('geleidersisolatoren')" class="subject_answer">elektrische</span>) stroom kan alleen maar onstaan als je een spanningsbron en een (<span *ngIf="getShowAnswers('geleidersisolatoren')" class="subject_answer">gesloten</span>) stroomkring hebt.<br>
            (<span *ngIf="getShowAnswers('geleidersisolatoren')" class="subject_answer">Gelijke</span>) ladingen stoten elkaar af.<br>
            Een (<span *ngIf="getShowAnswers('geleidersisolatoren')" class="subject_answer">isolator</span>) houdt de stroom tegen.<br>
            Je krijgt een (<span *ngIf="getShowAnswers('geleidersisolatoren')" class="subject_answer">gesloten</span>) stroomkring als je (<span *ngIf="getShowAnswers('geleidersisolatoren')" class="subject_answer">geleiders</span>) in de stroomkring opneemt.<br>
          </p>
          <button mat-button (click)="handleShowAnswers('geleidersisolatoren')">Toon antwoorden</button>
        </mat-card>
      </article>
    </div>

    <div>
      <h2 (click)="handleViewSubject('energieopwekken')">Energie opwekken
        <mat-icon *ngIf="getShowSubject('energieopwekken')">keyboard_arrow_up</mat-icon>
        <mat-icon *ngIf="!getShowSubject('energieopwekken')">keyboard_arrow_down</mat-icon>
      </h2>
      <article *ngIf="getShowSubject('energieopwekken')">
        <p>
          Er zijn verschillende manieren om elektrische energie op te wekken.
          De manieren die mogelijk zijn:
        </p>
        <table>
          <tr>
            <th>Voorbeeld</th>
            <th>Uitleg</th>
            <th>Voordelen</th>
            <th>Nadelen</th>
          </tr>
          <tr>
            <td>Elektriciteitscentrale</td>
            <td>
              In een elektriciteitscentrale wordt een fossiele brandstof verbrand en hierbij komt veel warmte vrij.
              Deze warmte stijgt in de ketel op en boven in de ketel zitten buizen met water.
              De warmte zorgt ervoor dat dit water zo warm wordt dat het stoom wordt.
              Deze stoom zorgt ervoor dat een turbine gaat draaien en hierdoor word elektriciteit opgewekt.
            </td>
            <td>
              <ol>
                <li>Je kan altijd elektriciteit opwekken.</li>
                <li>Relatief goedkoop.</li>
              </ol>
            </td>
            <td>
              <ol>
                <li>Fossiele brandstoffen raken op.</li>
                <li>Veel CO<span class="subscript">2</span></li>
              </ol>
            </td>
          </tr>
          <tr>
            <td>Kerncentrale</td>
            <td>
              Door middel van kernreacties wordt elektriciteit opgewekt. Er worden deeltjes op elkaar geschoten en hier ontstaat energie.
            </td>
            <td>
              <ol>
                <li>Goedkope en snelle manier.</li>
              </ol>
            </td>
            <td>
              <ol>
                <li>Ontploffingsgevaar.</li>
                <li>Veel radioactief afval.</li>
              </ol>
            </td>
          </tr>
          <tr>
            <td>Windmolens</td>
            <td>
              De wind zet de wieken van een windmolen in beweging waardoor er een turbine gaat draaien. Deze turbine zet de beweging om in elektrische energie.
            </td>
            <td>
              <ol>
                <li>Duurzaam.</li>
                <li>Na plaatsing kost het geen geld meer.</li>
              </ol>
            </td>
            <td>
              <ol>
                <li>Duur in aanschaf.</li>
                <li>Kan voor geluidsoverlast zorgen.</li>
                <li>Er is niet ieder gewenst moment genoeg wind.</li>
              </ol>
            </td>
          </tr>
          <tr>
            <td>Stuwdammen</td>
            <td>
              In de bergen kan met het water met behulp van een stuwdam goed vasthouden.
              Bovenin de stuwdam dit een opening waar ze het water kunnen laten stromen en dit water valt dan tientallen meters naar beneden.
              Dit water komt op een turbine en deze turbine gaat bewegen.
              Deze beweging wordt omgezet in elektriciteit.
            </td>
            <td>
              <ol>
                <li>Goedkoop na plaatsing.</li>
                <li>Duurzaam.</li>
              </ol>
            </td>
            <td>
              <ol>
                <li>Kan alleen in de bergen.</li>
                <li>In de zomer is er vaak niet genoeg water in de stuwdam.</li>
              </ol>
            </td>
          </tr>
          <tr>
            <td>Zonnepanelen</td>
            <td>
              Door een zonnepaneel op je dak te plaatsen en hier zon op te schijnen wordt de warmte omgezet in elektriciteit.
            </td>
            <td>
              <ol>
                <li>Goedkoop na plaatsing.</li>
                <li>Duurzaam.</li>
              </ol>
            </td>
            <td>
              <ol>
                <li>Niet altijd genoeg zonlicht.</li>
                <li>Aanschaf is erg duur.</li>
              </ol>
            </td>
          </tr>
        </table>

        <div class="youtube_clip">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/WPzxo7uQeaE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </article>
    </div>

    <div>
      <h2 (click)="handleViewSubject('groeneenergie')">Groene energie/duurzame energie
        <mat-icon *ngIf="getShowSubject('groeneenergie')">keyboard_arrow_up</mat-icon>
        <mat-icon *ngIf="!getShowSubject('groeneenergie')">keyboard_arrow_down</mat-icon>
      </h2>
      <article *ngIf="getShowSubject('groeneenergie')">
        <p>
          Energie die niet opgewekt wordt door brandstoffen die op kunnen raken noemen we <b>duurzame energie</b>.
          Een ander woord voor duurzaam is hernieuwbaar.
          Dit betekent dat de energiebronnen niet opraken.
          Immers zolang de zon blijft schijnen zal het altijd waaien en water door de waterkringloop blijven stromen.
        </p>
      </article>
    </div>

    <div>
      <h2 (click)="handleViewSubject('stroominhuis')">Stroom in huis
        <mat-icon *ngIf="getShowSubject('stroominhuis')">keyboard_arrow_up</mat-icon>
        <mat-icon *ngIf="!getShowSubject('stroominhuis')">keyboard_arrow_down</mat-icon>
      </h2>
      <article *ngIf="getShowSubject('stroominhuis')">
        <p>
          Als elektriciteit bij je huis aankomt heeft het een spanning van 230 V.
          Op ieder stopcontact in Nederland is deze spanning hetzelfde. In andere laden kan dit verschillend zijn:
        </p>
        <img src="../../assets/img/natuurkunde/elektriciteit/voltages_world.png">
        <p>
          Als de elektrische energie je huis inkomt dan zitten tussen de aanvoer vanuit de centrale en de apparaten die de energie gaan gebruiken beveiligingen.
          Dat is nodig omdat elektriciteit gevaarlijk kan zijn wanneer je hier niet veilig mee omgaat.
          De beveiligingen zorgen er allemaal voor dat de stroom wordt afgesloten als er een gevaarlijke situatie ontstaat.
          Een gevaarlijke situatie is wanneer er te stroom door de draden gaat en hierdoor de draden te warm worden en smelten.
          Om dit te voorkomen zitten er zekeringen in de stroomkring.
        </p>
        <p>
          Er zijn twee soorten zekeringen, smeltzekeringen en automatische zekeringen.
          Allebei de zekeringen hebben dezelfde functie, namelijk ervoor zorgen dat jij niet teveel stroom door de elektriciteitsleidingen laat gaan.
          Ze zorgen ervoor dat de stroomsterkte niet boven de 16 Ampère komt.
        </p>
        <p>
          De zekeringen in de meterkast zorgen ervoor dat je niet teveel stroom door de draden laat gaan.
          Het kan ook voorkomen dat de aansluiting van een apparaat niet helemaal goed is.
          Bij een wasmachine kan het snoer een beetje kapot gaan zodat er een verbinding komt van de stroom met de buitenkant wasmachine.
          Meestal is die buitenkant van metaal, wat de stroom goed geleidt, dus als je die dan aanraakt krijg je een schok.
          Dat is niet alleen geen lekker gevoel, maar kan ook gevaarlijk zijn.
          Om dat gevaar tegen te gaan zijn apparaten met een metalen buitenkant geaard.
          De aardlekschakelaar gaat nog verder: die schakelt de stroom af als er ergens stroom naar de aarde loopt. Hiervoor meet de
          schakelaar de inkomende stroom en de uitgaande stroom en als daar verschil tussen zit dan schakelt hij uit.
        </p>

        <mat-card class="subject_questions">
          <p>
            1. Wat is het maximale aantal Ampere dat door een zekering kan gaan?<br>
            <span *ngIf="getShowAnswers('stroominhuis')" class="subject_answer">16 Ampere</span>
          </p>
          <button mat-button (click)="handleShowAnswers('stroominhuis')">Toon antwoorden</button>
        </mat-card>
      </article>
    </div>

    <div>
      <h2 (click)="handleViewSubject('soortenstroomkringen')">Soorten stroomkringen
        <mat-icon *ngIf="getShowSubject('soortenstroomkringen')">keyboard_arrow_up</mat-icon>
        <mat-icon *ngIf="!getShowSubject('soortenstroomkringen')">keyboard_arrow_down</mat-icon>
      </h2>
      <article *ngIf="getShowSubject('soortenstroomkringen')">
        <p>
          Meestal bestaat een elektrische schakeling uit meerdere verbruikers.
          Die onderling op een bepaalde manier met elkaar verbonden zijn.
          Er zijn twee soorten schakelingen: de serieschakeling en de parallelschakeling.
        </p>
        <p>
          <b>Serieschakeling</b>: Stroomkring waarin de lampjes als een ketting zijn verbonden, zoals bij een kerstboom: alle lampjes delen een stroombron.
          Wanneer een van de lampjes stuk is, is de stroomkring niet meer gesloten en brandt er geen enkele lamp meer.
        </p>
        <img src="../../assets/img/natuurkunde/elektriciteit/serieschakeling.png">
        <p>
          <b>Parralelschakeling</b>: stroomkring waarbij de lampjes parallel of evenwijdig met elkaar verbonden zijn. Elk lampje heeft zijn eigen stroomkring met de stroombron.
          Wanneer een lamp stuk is, kan de elektriciteit nog steeds door naast de lamp, om een stroomkring te vormen, zo blijven de overige lampen wel nog branden.
        </p>
        <img src="../../assets/img/natuurkunde/elektriciteit/parallelschakeling.png">

        <mat-card class="subject_questions">
          <p>
            1. Welke schakelingen zijn parallel schakelingen?<br>
            <img src="../../assets/img/natuurkunde/elektriciteit/stroomkring_vraag1.jpg">
            <span *ngIf="getShowAnswers('stroominhuis')" class="subject_answer">A, B en D</span>
          </p>
          <p>
            2. Welke schakelaars moet je sluiten zodat:<br>
            <img src="../../assets/img/natuurkunde/elektriciteit/stroomkring_vraag2.jpg"><br>
            2a. Lampje 1 brandt?<br>
            <span *ngIf="getShowAnswers('stroominhuis')" class="subject_answer">S1, S5 en S6</span><br>
            2a. Lampje 2 brandt?<br>
            <span *ngIf="getShowAnswers('stroominhuis')" class="subject_answer">S2, S4 en S6</span><br>
            2a. Lampje 3 brandt?<br>
            <span *ngIf="getShowAnswers('stroominhuis')" class="subject_answer">S2, S3 en S6</span><br>
            2a. Lampje 4 brandt?<br>
            <span *ngIf="getShowAnswers('stroominhuis')" class="subject_answer">S2, S5 en S7</span><br>
            2a. Lampje 1 en 2 allebei branden?<br>
            <span *ngIf="getShowAnswers('stroominhuis')" class="subject_answer">S1, 45 en S6</span><br>
            2a. Lampje 1 en 3 allebei branden?<br>
            <span *ngIf="getShowAnswers('stroominhuis')" class="subject_answer">S2, S3, S4 en S6</span><br>
            2a. LAlle lampjes branden<br>
            <span *ngIf="getShowAnswers('stroominhuis')" class="subject_answer">S1, S3, S4 en S7</span><br>
          </p>
          <button mat-button (click)="handleShowAnswers('stroominhuis')">Toon antwoorden</button>
        </mat-card>

        <mat-card class="youtube_clip">
          <h3>Filmpje Schakelingen</h3>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/StY-n3JRjm4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </mat-card>

        <mat-card class="applet">
          <h3>Applet: Schakelingen</h3>
          <div style="position: relative; width: 300px; height: 197px;"><a href="https://phet.colorado.edu/sims/signal-circuit/signal-circuit_nl.jnlp" style="text-decoration: none;"><img src="https://phet.colorado.edu/sims/signal-circuit/signal-circuit-600.png" alt="Stroomkirng" style="border: none;" width="300" height="197"/><div style="position: absolute; width: 200px; height: 80px; left: 50px; top: 58px; background-color: #FFF; opacity: 0.6; filter: alpha(opacity = 60);"></div><table style="position: absolute; width: 200px; height: 80px; left: 50px; top: 58px;"><tr><td style="text-align: center; color: #000; font-size: 24px; font-family: Arial,sans-serif;">Klik om op te starten</td></tr></table></a></div>
        </mat-card>

      </article>
    </div>

    <div>
      <h2 (click)="handleViewSubject('stroomsterkte')">Stroomsterke
        <mat-icon *ngIf="getShowSubject('stroomsterkte')">keyboard_arrow_up</mat-icon>
        <mat-icon *ngIf="!getShowSubject('stroomsterkte')">keyboard_arrow_down</mat-icon>
      </h2>
      <article *ngIf="getShowSubject('stroomsterkte')">
        <p>
          <b>Stroomsterkte</b> is hoeveel lading (dus hoeveel elektronen) er eigenlijk elke seconde door een draad heen bewegen.
          Elektrische lading wordt gemeten in Coulomb (afkorting C), stroomsterkte wordt gemeten in Ampère (afkorting A).
          Als de stroomsterkte in een draad 1 Ampère is, betekent het dat er 1 Coulomb per seconde door deze draad stroomt.
        </p>
        <p>
          Om duidelijk te krijgen wat de stroomsterkte precies is kan je gebruik maken van een vergelijking.
          We gaan het hierbij vergelijken met een weg met auto’s hierop.
          Als je een rondje hebt waarbij je maar 1 route kan rijden is er 1 plek waar alle auto’s vertrekken.
          Op iedere plek kan je tellen hoeveel auto’s er rijden. Het aantal auto’s is de stroomsterkte.
          In de werkelijkheid is de stroomsterkte het aantal elektronen dat per seconde langs komt.
          De stroomsterkte kan je aan de hand hiervan ook bepalen. In een serieschakeling, waarbij je maar 1 route hebt, zullen dus overal evenveel auto’s zijn
        </p>
        <p>
          De stroomsterkte kan je aan de hand hiervan ook bepalen. In een serieschakeling, waarbij je maar 1 route hebt, zullen dus overal evenveel auto’s zijn:
        </p>
        <img src="../../assets/img/natuurkunde/elektriciteit/stroomsterkte_serie.png">
        <p>
          Bij de batterij, lampje 1 en lampje 2 zullen net zo veel auto’s komen. De stroomsterkte is dus overal hetzelfde.
          In een parallel schakeling gebeurd er iets anders:<br>
        </p>
        <img src="../../assets/img/natuurkunde/elektriciteit/stroomsterkte_parallel.png">
        <p>
          Bij de batterij vertrekken een aantal auto’s.
          Vervolgens splitsen de auto’s en gaat een deel door lampje 1 en een deel door lampje 2.
          Hierbij kan je de stroomsterkte door lampje 1 en 2 optellen en dan heb je het totaal aantal auto’s.
          Als we de twee schakelingen mengen kan je dus de stroomsterkte voorspellen:<br>
        </p>
        <img src="../../assets/img/natuurkunde/elektriciteit/voorspelling.png">
        <p>
          Als de Ampèremeter 0,6 A aangeeft weten we dat het lampje ernaast ook 0,6 A is.
          In een serieschakeling veranderde het aantal auto’s niet. Dit betekend dat op punt B ook 0,6 A gemeten wordt.
        </p>
        <p>
          Bij de Ampèremeter links wordt 1,0 A gemeten. Deze splitst zich op.
          We weten dat 0,6 A door de onderste vertakking gaat.
          Dit betekend dat: 1,0 A= 0,6 A + vertakking 1.
          Bij vertakking 1 heb je dan dus 0,4 A.
          Dit zal je dan op plek a en c meten omdat hier tussen de auto’s niet weg kunnen.
          Op plaats D komen alle auto’s weer samen en heb je net zo veel auto’s als in het begin, dit betekend dat je hier weer 1,0 A hebt.
        </p>
      </article>
    </div>

    <div>
      <h2 (click)="handleViewSubject('spanning')">Spanning
        <mat-icon *ngIf="getShowSubject('spanning')">keyboard_arrow_up</mat-icon>
        <mat-icon *ngIf="!getShowSubject('spanning')">keyboard_arrow_down</mat-icon>
      </h2>
      <article *ngIf="getShowSubject('spanning')">
        <p>
          Elektrische <b>spanning</b> wordt gemeten in Volts (afgekort V). Daarom spreekt men ook wel eens van voltage.
          De spanning geeft aan hoeveel energie het voor de elektronen kost om een bepaald punt in een stroomkring naar een ander bepaald punt te bewegen (bijvoorbeeld door de gloeidraad van een lamp heen).
          Een kleine batterij haalt ongeveer 1 volt en het stopcontact levert 230 volt.
        </p>

        <mat-card class="applet">
          <h3>Applet: Spanning</h3>
          <iframe src="https://phet.colorado.edu/sims/html/john-travoltage/latest/john-travoltage_nl.html" width="800" height="600" scrolling="no" allowfullscreen></iframe>
        </mat-card>
      </article>
    </div>

    <div>
      <h2 (click)="handleViewSubject('weerstand')">Weerstand
        <mat-icon *ngIf="getShowSubject('weerstand')">keyboard_arrow_up</mat-icon>
        <mat-icon *ngIf="!getShowSubject('weerstand')">keyboard_arrow_down</mat-icon>
      </h2>
      <article *ngIf="getShowSubject('weerstand')">
        <p>
          In elk materiaal kost het voor elektronen een bepaalde hoeveelheid energie om er doorheen te bewegen.
          Elk materiaal heeft namelijk zijn eigen <b>weerstand</b>.
          Die weerstand wordt gemeten in Ohms (dat wordt aangegeven met de griekse letter Ω).
          Hoe lager de weerstand van een materiaal, des te beter geleidt het materiaal.
        </p>
        <p>
          De weerstand kan je berekenen met de volgende formule:<br>
          R = U / I
        </p>
        <table>
          <tr>
            <th>Grootheid</th>
            <th>Symbool grootheid</th>
            <th>Eenheid</th>
            <th>Symbool eenheid</th>
          </tr>
          <tr>
            <td>Weerstand</td>
            <td>R</td>
            <td>Ohm</td>
            <td>Ω</td>
          </tr>
          <tr>
            <td>Spanning</td>
            <td>U</td>
            <td>Volt</td>
            <td>V</td>
          </tr>
          <tr>
            <td>Stroomsterkte</td>
            <td>I</td>
            <td>Ampere</td>
            <td>A</td>
          </tr>
        </table>

        <mat-card class="subject_questions">
          <p>
            1. Door een dunne draad loopt een elektrische stroom met een stroomsterkte van 4 A. De spanning over deze draad is 45 V. Bereken de weerstand van de dunne draad.<br>
            <span *ngIf="getShowAnswers('weerstand')" class="subject_answer">
              I = 4 A<br>
              U = 45 V<br>
              R = U / I<br>
              R = 45 / 4 = 11,25<br>
              De weerstand van de dunne draad is 11,25 Ω
            </span>
          </p>
          <p>
            2. Een dunne draad met een weerstandswaarde van 50 Ω is aangesloten op een spanningsbron van 8,5 V. Bereken de stroomsterkte in de draad.<br>
            <span *ngIf="getShowAnswers('weerstand')" class="subject_answer">
              R = 50 Ω<br>
              U = 8,5 V<br>
              I = U / R<br>
              I = 50 / 8,5 = 0,17 A<br>
              De stroomsterkte in de dunne draad is 0,17 A
            </span>
          </p>
          <button mat-button (click)="handleShowAnswers('weerstand')">Toon antwoorden</button>
        </mat-card>

        <mat-card class="applet">
          <h3>Applet: Weerstand</h3>
          <iframe src="https://phet.colorado.edu/sims/html/ohms-law/latest/ohms-law_nl.html" width="800" height="600" scrolling="no" allowfullscreen></iframe>
        </mat-card>

        <mat-card class="applet">
          <h3>Applet: Weerstand</h3>
          <div style="position: relative; width: 300px; height: 197px;"><a href="https://phet.colorado.edu/sims/battery-resistor-circuit/battery-resistor-circuit_nl.jnlp" style="text-decoration: none;"><img src="https://phet.colorado.edu/sims/battery-resistor-circuit/battery-resistor-circuit-600.png" alt="Schakelling met batterij en weerstand" style="border: none;" width="300" height="197"/><div style="position: absolute; width: 200px; height: 80px; left: 50px; top: 58px; background-color: #FFF; opacity: 0.6; filter: alpha(opacity = 60);"></div><table style="position: absolute; width: 200px; height: 80px; left: 50px; top: 58px;"><tr><td style="text-align: center; color: #000; font-size: 24px; font-family: Arial,sans-serif;">Klik om op te starten</td></tr></table></a></div>
        </mat-card>
      </article>
    </div>

    <div>
      <h2 (click)="handleViewSubject('stroomsterktespanningmeten')">Stroomsterkte en spanning in een schakeling meten
        <mat-icon *ngIf="getShowSubject('stroomsterktespanningmeten')">keyboard_arrow_up</mat-icon>
        <mat-icon *ngIf="!getShowSubject('stroomsterktespanningmeten')">keyboard_arrow_down</mat-icon>
      </h2>
      <article *ngIf="getShowSubject('stroomsterktespanningmeten')">
        <p>
          Wanneer je de stroomsterkte wilt meten in een schakeling moet je de Ampèremeter in serie met het lampje zet-ten.
          Wanneer je de spanning wilt meten in een schakeling moet je de voltmeter in parallel met het lampje zetten.
        </p>
        <img src="../../assets/img/natuurkunde/elektriciteit/opstelling_spanning_sterkte_meten.png">
      </article>
    </div>

    <div>
      <h2 (click)="handleViewSubject('vermogen')">Vermogen
        <mat-icon *ngIf="getShowSubject('vermogen')">keyboard_arrow_up</mat-icon>
        <mat-icon *ngIf="!getShowSubject('vermogen')">keyboard_arrow_down</mat-icon>
      </h2>
      <article *ngIf="getShowSubject('vermogen')">
        <p>
          Het vermogen geeft de hoeveelheid elektrische energie die een apparaat kan omzetten.
          Elk apparaat verbruikt een ander aantal Watt. Het vermogen staat altijd weergeven in Watt (afgekort W).
          Het vermogen kan je berekenen met de volgende formule:<br>
          P = U * I
        </p>
        <table>
          <tr>
            <th>Grootheid</th>
            <th>Symbool grootheid</th>
            <th>Eenheid</th>
            <th>Symbool eenheid</th>
          </tr>
          <tr>
            <td>Vermogen</td>
            <td>P</td>
            <td>Watt</td>
            <td>W</td>
          </tr>
          <tr>
            <td>Spanning</td>
            <td>U</td>
            <td>Volt</td>
            <td>V</td>
          </tr>
          <tr>
            <td>Stroomsterkte</td>
            <td>I</td>
            <td>Ampere</td>
            <td>A</td>
          </tr>
        </table>
      </article>
    </div>

    <div>
      <h2 (click)="handleViewSubject('kilowattuur')">Elektrische energie
        <mat-icon *ngIf="getShowSubject('kilowattuur')">keyboard_arrow_up</mat-icon>
        <mat-icon *ngIf="!getShowSubject('kilowattuur')">keyboard_arrow_down</mat-icon>
      </h2>
      <article *ngIf="getShowSubject('kilowattuur')">
        <p>
          Voor het uitrekenen van het energieverbruik moet je op twee factoren letten.
          Dat is het vermogen in KiloWatt en de tijd in uur.
          Wanneer je het vermogen van je apparaat keer de tijd in uren doet krijg je het energieverbruik.
          Het energieverbruik geef je in kiloWattuur (afgekort kWh).
        </p>
        <table>
          <tr>
            <th>Grootheid</th>
            <th>Symbool grootheid</th>
            <th>Eenheid</th>
            <th>Symbool eenheid</th>
          </tr>
          <tr>
            <td>Elektrische energie</td>
            <td>E</td>
            <td>Kilowattuur</td>
            <td>kWh</td>
          </tr>
          <tr>
            <td>Vermogen</td>
            <td>P</td>
            <td>Kilowatt</td>
            <td>kW</td>
          </tr>
          <tr>
            <td>Tijd</td>
            <td>t</td>
            <td>uur</td>
            <td>t</td>
          </tr>
        </table>
      </article>
    </div>

    <div>
      <h2 (click)="handleViewSubject('stroomsterktemeten')">Stroomsterkte en spanning in een schakeling meten
        <mat-icon *ngIf="getShowSubject('stroomsterktemeten')">keyboard_arrow_up</mat-icon>
        <mat-icon *ngIf="!getShowSubject('stroomsterktemeten')">keyboard_arrow_down</mat-icon>
      </h2>
      <article *ngIf="getShowSubject('stroomsterktemeten')">
        <p>
          Wanneer je de stroomsterkte wilt meten in een schakeling moet je de Ampèremeter in serie met het lampje zetten.
          Wanneer je de spanning wilt meten in een schakeling moet je de voltmeter in parallel met het lampje zetten.
          <img src="">
        </p>
      </article>
    </div>

    <div>
      <h2 (click)="handleViewSubject('applets')">Applets Elektriciteit
        <mat-icon *ngIf="getShowSubject('applets')">keyboard_arrow_up</mat-icon>
        <mat-icon *ngIf="!getShowSubject('applets')">keyboard_arrow_down</mat-icon>
      </h2>
      <article *ngIf="getShowSubject('applets')">
        <mat-card class="youtube_clip">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/lY6B2oC1uEs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </mat-card>
        <mat-card class="applet">
          <iframe src="https://phet.colorado.edu/sims/html/balloons-and-static-electricity/latest/balloons-and-static-electricity_nl.html" width="800" height="600" scrolling="no" allowfullscreen></iframe>
        </mat-card>
        <mat-card class="applet">
          <iframe src="https://h5p.org/h5p/embed/177859" width="1090" height="248" frameborder="0" allowfullscreen="allowfullscreen"></iframe><script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8"></script>
        </mat-card>
      </article>
    </div>

    <div>
      <h2 (click)="handleViewSubject('practica')">Practica Elektriciteit
        <mat-icon *ngIf="getShowSubject('practica')">keyboard_arrow_up</mat-icon>
        <mat-icon *ngIf="!getShowSubject('practica')">keyboard_arrow_down</mat-icon>
      </h2>
      <article *ngIf="getShowSubject('practica')">
        <app-experiment-natuurkunde-elektriciteit></app-experiment-natuurkunde-elektriciteit>
      </article>
    </div>
  </mat-card>
</div>
