<div class="container">
  <mat-sidenav-container>
    <mat-sidenav opened mode="side" position="start">
      <div class="side_nav">
        <span class="side_nav_title">Natuurkunde</span>
        <button id="button0" mat-button (click)="changeStyle(0)" [routerLink]="{outlets: {natuurkunde_outlet: ['home']}}">Home</button>
        <button id="button1" mat-button (click)="changeStyle(1)" [routerLink]="{outlets: {natuurkunde_outlet: ['krachtbeweging']}}">Kracht en Beweging</button>
        <button id="button2" mat-button (click)="changeStyle(2)" [routerLink]="{outlets: {natuurkunde_outlet: ['lichtgeluid']}}">Licht en Geluid</button>
        <button id="button3" mat-button (click)="changeStyle(3)" [routerLink]="{outlets: {natuurkunde_outlet: ['elektriciteit']}}">Elektriciteit</button>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet name="natuurkunde_outlet"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
