.toetsen_page_content{
  top: 72px;
}

.natuurkunde_selector{
  float: left;
  width: 50%;
}

.scheikunde_selector{
  float: right;
  width: 50%;
}

button{
  margin-top: 4%;
  color: white;
  position: relative;
  background-color: steelblue;
}

mat-checkbox{
  display: block;
}

app-page-toetsen-generated{
  top: 72px;
  position: relative;
  margin-top: 2%;
}

