<div class="container">
  <mat-card class="card">
    <div class="title">
      <h1>NASK in a nutshell</h1>
    </div>
    <div class="sub_title">
      <span>Leer Natuur- en Scheikunde in een notendop!</span>
    </div>
    <div class="quick_button_bar">
      <button mat-button routerLink="/natuurkunde" routerLinkActive="active" class="quick_button">Natuurkunde</button>
      <button mat-button routerLink="/scheikunde" routerLinkActive="active" class="quick_button">Scheikunde</button>
    </div>
  </mat-card>
</div>


