.container{
  top: 72px;
  position: fixed;
  margin: 1%;
  width: 97%;
  height: auto;
}

mat-card{
  height: auto;
  color: steelblue;
  text-align: center;
  text-shadow: 1px 1px black;
}

mat-card h1{
  font-size: 70px;
}

mat-card h3{
  font-size: 45px;
}


