div{
  text-align: center;
  color: steelblue;
  text-shadow: 2px 2px 4px #000000;
  font-family: "Tahoma", "Comic Sans MS", serif;
  position: fixed;
  width: 100%;
  left: 0%;
}

.title{
  font-size: 60px;
  height: 30%;
  top: 10%;
}

.sub_title{
  font-size: 40px;
  top: 60%;
  height: 30%;
}

.container{
  top: 8%;
  background-color: white;
  height: 100%;
}

.card{
  height: 73%;
  width: 90%;
  margin: 3%;
  background: url(../../assets/img/general/home_page.jpg) no-repeat;
  background-size: cover;
}

.quick_button_bar{
  top: 80%;
  height: 30%;
}

.quick_button{
  background-color: rgba(0,0,0,0.3);
  margin: 2%;
  width: 20%;
  color: black;
}
