<div class="container">
  <mat-sidenav-container>
    <mat-sidenav opened="true" mode="side" position="start">
      <div class="side_nav">
        <span class="side_nav_title">Scheikunde</span>
        <button id="button0" mat-button (click)="changeStyle(0)" [routerLink]="{outlets: {scheikunde_outlet: ['home']}}">Home</button>
        <!--<button id="button1" mat-button (click)="changeStyle(1)" [routerLink]="{outlets: {scheikunde_outlet: ['dichtheid']}}">Dichtheid</button>-->
        <button id="button1" mat-button (click)="changeStyle(1)" [routerLink]="{outlets: {scheikunde_outlet: ['faseovergangen']}}">Faseovergangen</button>
        <button id="button2" mat-button (click)="changeStyle(2)" [routerLink]="{outlets: {scheikunde_outlet: ['koolstofchemie']}}">Koolstofchemie</button>
        <button id="button3" mat-button (click)="changeStyle(3)" [routerLink]="{outlets: {scheikunde_outlet: ['reactievergelijkingen']}}">Reactievergelijkingen</button>
        <button id="button4" mat-button (click)="changeStyle(4)" [routerLink]="{outlets: {scheikunde_outlet: ['scheidingsmethodes']}}">Scheidingsmethodes</button>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet name="scheikunde_outlet"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
