<div class="container">
  <mat-sidenav-container>
    <mat-sidenav opened mode="side" position="start">
      <div class="side_nav">
        <span class="side_nav_title">Scheikunde</span>
        <button mat-button [routerLink]="{outlets: {scheikunde_outlet: ['scheidingsmethodes']}}" routerLinkActive="active">Scheidingsmethodes</button>
        <button mat-button [routerLink]="{outlets: {scheikunde_outlet: ['koolstofchemie']}}">Koolstofchemie</button>
        <span class="side_nav_divider">Practica</span>
        <button mat-button>Practica 1</button>
        <button mat-button>Practica 2</button>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet name="scheikunde_outlet"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
