<div class="natuurkunde_home">
  <mat-card class="natuurkunde_intro">
    <h1>Natuurkunde</h1>
    <p>
      Op deze site kan je oefenen met verschillende onderwerpen van het vak Natuurkunde.
      Je vind bij elk onderwerp uitleg, filmpjes, spelletjes en practica.
    </p>
    <p>
      De onderwerpen zijn:<br>
      - Dichtheid<br>
      - Elektriciteit<br>
      - Kracht en Beweging<br>
      - Licht en Geluid<br>
    </p>
    <p>
      Onder elk onderwerp kan je weer kiezen voor specifieke onderdelen binnen dit onderwerp. Veel leerplezier!
    </p>
  </mat-card>

  <mat-card class="image">
    <img src="../../assets/img/general/natuurkunde_home.jpg">
  </mat-card>
</div>
