<div class="no_sidecard_main_content">
  <mat-card>
    <h1>Natuurkunde</h1>
      <p>
        Dit is de home pagina van de natuurkunde portal. Klik in het menu links om naar een onderwerp te gaan.
      </p>

      <p>
        De volgende onderwerpen worden behandeld voor natuurkunde:<br>
        <ul>
          <li>Krachten
            <ul>
              <li>Tekenen</li>
              <li>Berekenen</li>
              <li>Zwaartekracht</li>
            </ul>
          </li>
          <li>Licht en Geluid</li>
        </ul>
  </mat-card>
</div>
