/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

div{
  font-family: "Tahoma", "Comic Sans MS", serif;
}

table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

table img{
  min-width: 100%;
  min-height: 80%;
}

th{
  background-color: steelblue;
  color: white;
}

tr{
  color: black;
  background-color: #e1e1e1;
}



tr:nth-child(even){background-color: white;}

tr:hover{background-color: lightgray;}

table{
  width: 100%;
}

th{
  text-align: center;

}

td{
  text-align: left;
}

img{
  max-width: 50%;
  max-height: 50%;
}

mat-card mat-icon{
  float: right;
}

button{
  background-color: steelblue;
  color: white;
}

article mat-card{
  width: 50%;
  margin: auto;
}

article img {
  display: block;
  max-width: 50%;
  max-height: 50%;
  margin-left: auto;
  margin-right: auto;
}

.subject_container img{
  float: left;
}

h2, h3{
  padding: 1%;
}

h2:hover{
  background-color: lightgray;
}

.subscript{
  font-size: 8pt;
}

.subject_questions{
  margin-top: 3%;
  background-color: steelblue;
  color: white;
}

.subject_answer{
  color: yellow;
}

.subject_questions button{
  background-color: white;
}

.subject_questions button span{
  color: black;
}

.no_sidecard_main_content{
  top: 72px;
  width: 100%;
}

.no_sidecard_main_content mat-card{
  margin: 1% 1% 1% 1%;
  background-color: white;
  color: black;
  width: 94%;
}

.no_sidecard_main_content .subject_questions{
  background-color: steelblue;
  color: white;
}

.no_sidecard_main_content .youtube_clip{
  margin-top: 3%;
  background-color: steelblue;
  color: white;
}

.no_sidecard_main_content .youtube_clip iframe{
  width: 100%;
}

.no_sidecard_main_content .applet{
  margin-top: 3%;
  background-color: steelblue;
  color: white;
}

.no_sidecard_main_content .applet iframe{
  max-width: 100%;
  margin: 2% 2% 2% 0%;
}





