/* You can add global styles to this file, and also import other style files */
div{
  font-family: "Tahoma", "Comic Sans MS", serif;
}

table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 7px;
}

table img{
  min-width: 100%;
  min-height: 80%;
}

th{
  background-color: steelblue;
  color: white;
}

tr{
  color: black;
  background-color: #e1e1e1;
}



tr:nth-child(even){background-color: white;}

tr:hover{background-color: lightgray;}

table{
  width: 100%;
}

th{
  text-align: center;

}

td{
  text-align: left;
}

img{
  max-width: 50%;
  max-height: 50%;
}

button{
  background-color: steelblue;
  color: white;
}

.main_content{
  width: 100%;
  background-color: cyan;
}

.main_card{
  float: left;
  margin: 1% 0% 1% 1%;
  background-color: white;
  color: black;
  width: 55%;
}

.side_cards{
  float: right;
  width: 39%;
  height: 100%;
}

.side_cards mat-card{
  margin: 2% 2% 2% 0%;
  background-color: steelblue;
}

.youtube_clip{
  height: 300px;
}

.youtube_clip iframe{
  height: 100%;
  width: 100%;
}

.awnsers{
  background-color: #efbc04;
  padding: 1%;
}

.correct_awnser{
  color: red;
}

.navigator{
  color: white;
  text-align: center;
}

.navigator button{
  background-color: steelblue;
  color: white;
  width: 100%;
  text-align: center;
}

.no_sidecard_main_content{
  top: 72px;
  width: 100%;
}

.no_sidecard_main_content mat-card{
  margin: 1% 1% 1% 1%;
  background-color: white;
  color: black;
  width: 94%;
}

.practicum_link{
  text-align: center;
  color: white;
}

.practicum_link button{
  background-color: steelblue;
  color: white;
  width: 100%;
  text-align: center;
}

