/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

div{
  font-family: "Tahoma", "Comic Sans MS", serif;
}

table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 7px;
}

table img{
  min-width: 100%;
  min-height: 80%;
}

th{
  background-color: steelblue;
  color: white;
}

tr{
  color: black;
  background-color: #e1e1e1;
}



tr:nth-child(even){background-color: white;}

tr:hover{background-color: lightgray;}

table{
  width: 100%;
}

th{
  text-align: center;

}

td{
  text-align: left;
}

.imgTableData{
  width: 50%;
}

img{
  max-width: 50%;
  max-height: 50%;
}

button{
  background-color: steelblue;
  color: white;
}

.main_content{
  width: 100%;
  background-color: cyan;
}

.main_card{
  float: left;
  margin: 1% 0% 1% 1%;
  background-color: white;
  color: black;
  width: 55%;
}

.main_card h1, h2{
  padding: 1%;
}

.main_card mat-icon{
  float: right;
}

.main_card h1:hover, h2:hover{
  background-color: lightgray;
}

.side_cards{
  float: right;
  width: 39%;
  height: 100%;
}

.side_cards mat-card{
  margin: 2% 2% 2% 2%;
  background-color: steelblue;
}

.youtube_clip{
  margin-top: 3%;
  background-color: steelblue;
  color: white;
}

.youtube_clip iframe{
  max-width: 100%;
  margin: 2% 2% 2% 0%;
}

.applet{
  margin-top: 3%;
  background-color: steelblue;
  color: white;
}

.applet iframe{
  max-width: 100%;
  margin: 2% 2% 2% 0%;
}

.subscript{
  font-size: 8pt;
}

.subject_questions{
  margin-top: 3%;
  background-color: steelblue;
  color: white;
}

.subjet_answer{
  color: indianred;
}

.subject_questions button{
  background-color: white;
}

.subject_questions button span{
  color: black;
}

.navigator{
  color: white;
  text-align: center;
}

.navigator button{
  background-color: steelblue;
  color: white;
  width: 100%;
  text-align: center;
}

.no_sidecard_main_content{
  top: 72px;
  width: 100%;
}

.no_sidecard_main_content mat-card{
  margin: 1% 1% 1% 1%;
  background-color: white;
  color: black;
  width: 94%;
}

.practicum_link{
  text-align: center;
  color: white;
}

.practicum_link button{
  background-color: steelblue;
  color: white;
  width: 100%;
  text-align: center;
}




